<!DOCTYPE html>
<html lang="en">
  <title> Ryan</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>Coletar Peso</h1>
        <h3>
Por favor, preencha os dados para obter estatsticas populacionais sobre altura</h3>
        <div class="email">  </div>
        <form action="sucesso.html" method="POST">
          <input title="Seu Email Estara Seguro Conosco" placeholder="Seu Email " type="email" name="email_nome" required><br>

        <input title="Seus Dados Estarao Seguros Conosco" placeholder="Seu Peso " type="number"min="50" max="300"  name="Peso_nome" required><br>
<button type="submit">Enviar</button>



        </form>

      </div>
    </body>
</html>
